.ServicePage{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ServicePage h1 {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 35%;
}