.UserEdit .inputBlock{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.UserEdit input{
    padding: 7px;
    margin: 5px 0 0 5px;
    width: 50%;
    outline: none;
    font-size: 25px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.UserEdit form{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.UserEdit input:focus {
    outline: none;
  }

.UserEdit label{
    margin-left: 30px;
    font-size: 25px;
}