.UserProfile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 70%;
}

.UserProfile h1{
    margin-bottom: 50px;
    align-self: center;
    font-size: 60px;
}

.UserProfile p{
    margin-left: 30px;
    font-size: 25px;
}
